<component name="ArtifactManager">
  <artifact type="war" name="spring-hibernate-xml-multi-tenancy-configuration:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-hibernate-xml-multi-tenancy-configuration.war">
      <element id="artifact" artifact-name="spring-hibernate-xml-multi-tenancy-configuration:war exploded" />
    </root>
  </artifact>
</component>