<component name="ArtifactManager">
  <artifact type="war" name="spring-hello-word-java-configuration:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-hello-work.war">
      <element id="artifact" artifact-name="spring-hello-word-java-configuration:war exploded" />
    </root>
  </artifact>
</component>